* {
			box-sizing: border-box;
		}
		.Paneer {
			
			border: 1px solid black;
			
			color: black;
			background-color: pink;
            			width: 435px;
		}
		.Beef {
			border: 1px solid black;
			
			color: black;
			background-color: pink;
			width: 435px;
		}
		.Prawns {
			border: 1px solid black;
			
			color: black;
			background-color: pink;
			width: 435px;
		}
		div {
			float: left;
			margin-left: 10px;
		}

		h2 {
			background-color: powderblue;
			margin: 1px;
			margin-bottom:1px;
			margin-top: 0px;
			margin-left: 320px;
            			margin-right: 0px;
			border: 1px solid black;
			text-align:center;


		}


}